language: c
# Compiler selection
compiler:
  - clang
  - gcc
env:
  - ANALYZE=false
  - ANALYZE=true
# Build steps
script:
  - sh .travis.sh
after_success:
  - bash <(curl -s https://codecov.io/bash) || echo "Codecov did not collect coverage reports"